<div class="actions">
  <app-add-usuario></app-add-usuario>
  <button type="button" class="btn btn-primary" [disabled]="usuariosLoading">
    <i class="bi bi-arrow-counterclockwise" (click)="(getUsuarios())"></i>
  </button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Username</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios; indice">
      <th scope="row">
        {{ usuario.id }}
      </th>
      <td>
        {{ usuario.nombres }}
      </td>
      <td>
        {{ usuario.apellidos }}
      </td>
      <td>
        {{ usuario.username }}
      </td>
      <td>
        <span
          class="badge {{
            usuario.estado === 0 ? 'bg-secondary' : 'bg-success'
          }}"
          >{{ usuario.estado === 0 ? "Inactivo" : "Activo" }}</span
        >
      </td>
    </tr>
  </tbody>
</table>
