@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    // margin: 0px !important;
    // overflow: hidden;
    // min-height: 100vh;
    // background-color: #f1f3f9;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // color: red;
    background-color: #f8fafb;
    margin: 0 auto;
    max-width: 1800px;
    width: 100%;
    overflow-x: hidden !important;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
